ul{
list-style: none;
padding: 0;
margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__title{
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}
.main__title::after{
position: absolute;
content: "";
width: 87px;
height: 1px;
background-color: #000;
top: 55px;
left: 555px;
}

.menu__items {
  display: flex;
  max-width: 559px;
  margin: 0 auto;
  gap: 31px;
  margin-bottom: 70px;
}
.main__link{
  font-weight: 700;
}
.second__link{
  position: relative;
}
.second__link:before{
  position: absolute;
  content: "";
  width: 4px;
  height: 1px;
  background-color: #000;
  top: 10px;
  right: -15px;
}

.instagramm__content-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.descr{
  margin-top: 70px;
}

.descr__items {
  margin-top: 70px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 154px);
  gap: 105px;
}

.descr__item {
}

.descr__items_img {}

.descr__items_text {
  font-size: 16px;
  max-width: 140px;
}